In [ ]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
clean_df = df.dropna()
clean_df.head()
#get a specific cell value using a combination of colname and index
clean_df["Undergraduate Major"][clean_df["Mid-Career Median Salary"].idxmax()]
#get the entire row using loc.[index]
clean_df.loc[clean_df["Mid-Career Median Salary"].idxmin()]
clean_df.loc[clean_df["Starting Median Salary"].idxmin()]
#sort values, mutate, and group_by
clean_df[["Undergraduate Major", "Mid-Career Median Salary"]].sort_values("Mid-Career Median Salary", ascending=False)
clean_df.insert(1, "spread", clean_df['Mid-Career 90th Percentile Salary']- clean_df['Mid-Career 10th Percentile Salary'])
clean_df.sort_values("spread")
clean_df.groupby("Group").mean()
#number formatting
pd.options.display.float_format = '{:,.2f}'.format

<ipython-input-39-f48ee7996a9a>:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  clean_df.groupby("Group").mean()

,spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,103958.333333,44633.333333,75083.333333,43566.666667,147525.000000
HASS,95218.181818,37186.363636,62968.181818,34145.454545,129363.636364
STEM,101600.000000,53862.500000,90812.500000,56025.000000,157625.000000